[loggers]
keys=root

[handlers]
keys=logfile

[formatters]
keys=plaintext

[logger_root]
level=DEBUG
propagate=1
handlers=logfile

[handler_logfile]
class=logging.handlers.RotatingFileHandler
formatter=plaintext
level=DEBUG
args=('logs/server.log','a',1500,20)
maxBytes=1000000
backupCount=3

[formatter_plaintext]
format="[%(asctime)s] %(process)d %(levelname)s %(name)s:%(funcName)s:%(lineno)s - %(message)s"